# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea

# ANTLR generated sources
**/gen/

# Compiled class files
*.class

# Debug files
*.java
!app/src/**/*.java

# macOS files
.DS_Store